body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cccccc;
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.regsiter-form {
    border: 1px solid #888888;
    display: inline-block;
}

.container {
    padding: 20px;
}
